<div class="vertical-menu">
  <a <a href="{{ '/' | relative_url }}"><b>Forside</b></a>
</div>

<button class="collapsible"><b>HR Strategisk Dashboard</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/straDash_personalesammensætning' | relative_url }}">Personalesammensætning</a></li>
        <li><a href="{{ '/straDash_sygefravær' | relative_url }}">Sygefravær</a></li>
        <li><a href="{{ '/straDash_trivsel' | relative_url }}">Trivsel</a></li>
        <li><a href="{{ '/straDash_rekruttering' | relative_url }}">Rekruttering</a></li>
        <li><a href="{{ '/straDash_onboarding' | relative_url }}">Onboarding</a></li>
        <li><a href="{{ '/straDash_fastholdelse' | relative_url }}">Fastholdelse</a></li>
        <li><a href="{{ '/straDash_exit-undersøgelse' | relative_url }}">Exit-undersøgelse</a></li>
    </ul>
</div>
<button class="collapsible"><b>HR Lederdashboard</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/ledDash_personalesammensætning' | relative_url }}">Personalesammensætning</a></li>
        <li><a href="{{ '/ledDash_sygefravær' | relative_url }}">Sygefravær</a></li>
        <li><a href="{{ '/ledDash_ferieafholdelse' | relative_url }}">Ferieafholdelse</a></li>
    </ul>
</div>
<button class="collapsible"><b>CHRU_HRKube</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/kube_introTilKuben' | relative_url }}">Intro til kuben</a></li>
        <li><a href="{{ '/kube_brugerstyring' | relative_url }}">Brugerstyring</a></li> 
        <li><a href="{{ '/kube_grunddata' | relative_url }}">Grunddata</a></li> 
        <li><a href="{{ '/kube_HRDashboard' | relative_url }}">HR Dashboard</a></li>
        <li><a href="{{ '/kube_personalesammensætning' | relative_url }}">Personalesammensætning</a></li>
        <li><a href="{{ '/kube_sygefravær' | relative_url }}">Sygefravær</a></li>
        <li><a href="{{ '/kube_trivsel' | relative_url }}">Trivsel</a></li>
        <li><a href="{{ '/kube_rekruttering' | relative_url }}">Rekruttering</a></li>
        <li><a href="{{ '/kube_onboarding' | relative_url }}">Onboarding</a></li>
        <li><a href="{{ '/kube_fastholdelse' | relative_url }}">Fastholdelse</a></li>
        <li><a href="{{ '/kube_exitsurvey' | relative_url }}">ExitSurvey</a></li>        
        <li><a href="{{ '/kube_ferie' | relative_url }}">Ferie</a></li>
        <li><a href="{{ '/kube_løn' | relative_url }}">Løn</a></li>
        <li><a href="{{ '/kube_vagtplan' | relative_url }}">Vagtplan</a></li>
        <li><a href="{{ '/kube_opdatering' | relative_url }}">Opdatering og validering</a></li>
    </ul>
</div>
<button class="collapsible"><b>Views</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/views_intro' | relative_url }}">Intro til views</a></li>
        <li><a href="{{ '/views_produktion' | relative_url }}">Views i Produktion</a></li>
        <li><a href="{{ '/views_opdatering' | relative_url }}">Opdatering og validering</a></li>
    </ul>
</div>
<button class="collapsible"><b>Tabeller og databaser</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/tabeller_intro' | relative_url }}">Intro til tabeller</a></li>
        <li><a href="{{ '/tabeller_produktion' | relative_url }}">Tabeller i produktion</a></li>
        <li><a href="{{ '/tabeller_opdatering' | relative_url }}">Opdatering og validering</a></li>
    </ul>
</div>

<div class="vertical-menu">
<a <a href="{{ '/ordforklaring' | relative_url }}"><b>Ordforklaring</b></a>
</div>

<button class="collapsible"><b>Internt</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/internt_GitHub' | relative_url }}">GitHub - Intro</a></li>
        <li><a href="{{ '/internt_hjemmeside' | relative_url }}">Hjemmeside - Guide</a></li>
        <li><a href="{{ '/internt_dokumentation' | relative_url }}">Dokumentation - Guide</a></li>    
        <li><a href="{{ '/internt_versionsstyring' | relative_url }}">Versionsstyring - Guide</a></li>
        <li><a href="{{ '/internt_dashboard' | relative_url }}">Dashboard - Guide</a></li>
        <li><a href="{{ '/internt_kube' | relative_url }}">Kube - Guide</a></li>
        <li><a href="{{ '/internt_views' | relative_url }}">Views - Guide</a></li>
        <li><a href="{{ '/internt_tabeller' | relative_url }}">Tabeller - Guide</a></li>
        <li><a href="{{ '/internt_postkassen' | relative_url }}">Postkassen - Guide </a></li>
        <li><a href="{{ '/internt_øvrige' | relative_url }}">Øvrige</a></li>

    </ul>  
</div>
      <br>
      <br>
      <br>
      <br>

<div class="vertical-menu">
  <b>Tidligere version</b>
</div>
<div class="vertical-menu">
  <a <a href="{{ '/' | relative_url }}"><b>Forside</b></a>
  <a href="{{ '/0generelt' | relative_url }}"><b>Generelt __UDKAST__</b></a>
</div>
<button class="collapsible"><b>CHRU_HRKube</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/data_chru_hrkube' | relative_url }}">Kuben</a></li>
        <li><a href="{{ '/data_brugerstyring' | relative_url }}">Brugerstyring</a></li> 
        <li><a href="{{ '/data_grunddata' | relative_url }}">Grunddata</a></li> 
        <li><a href="{{ '/data_personalesammensætning' | relative_url }}">Personalesammensætning</a></li>
        <li><a href="{{ '/data_sygefravær' | relative_url }}">Sygefravær</a></li>
        <li><a href="{{ '/data_ferie' | relative_url }}">Ferieafholdelse</a></li>
        <li><a href="{{ '/data_løn' | relative_url }}">Løn</a></li>
        <li><a href="{{ '/data_vagtplan' | relative_url }}">Vagtplan</a></li>
        <li><a href="{{ '/data_trivsel' | relative_url }}">Trivsel</a></li>
        <li><a href="{{ '/data_rekruttering' | relative_url }}">Rekruttering</a></li>
        <li><a href="{{ '/data_onboarding' | relative_url }}">Onboarding</a></li>
        <li><a href="{{ '/data_fastholdelse' | relative_url }}">Fastholdelse</a></li>
        <li><a href="{{ '/data_exitsurvey' | relative_url }}">Exit-Undersøgelse</a></li>
      <br>
        <li><a href="{{ '/doc_ordforklaring' | relative_url }}">Ordforklaring</a></li>
        <li><a href="{{ '/doc_øvelser' | relative_url }}">Øvelser</a></li>
    </ul>
</div>
<button class="collapsible"> <b>Dashboards</b> </button>
<div class="content">
    <ul>
        <li><a href="{{ '/dashboard_personale' | relative_url }}">Personalesammensætning</a></li>
        <li><a href="{{ '/dashboard_sygefravær' | relative_url }}">Sygefravær</a></li>
        <li><a href="{{ '/dashboard_ferie' | relative_url }}">Ferieafholdelse</a></li>
    </ul>
</div>
<button class="collapsible"><b>Dokumentation</b></button>
<div class="content">
    <ul>
        <li><a href="{{ '/doc_github' | relative_url }}">GitHub versionsstyring</a></li>
        <li><a href="{{ '/doc_guide' | relative_url }}">Guide til hjemmeside</a></li>
        <li><a href="{{ '/doc_opdateringKube' | relative_url }}">Opdatering af kube</a></li>
    </ul>  
</div>
<button class="collapsible"> <b>Øvrige</b></button>
<div class="content">
    <ul>
        <li><a href="{{ 'https://www.retsinformation.dk/eli/lta/2019/1025'}}" target="_blank">Ferieloven (2019-10-04)</a></li>
        <li><a href="{{ 'https://www.markdownguide.org/cheat-sheet/'}}" target="_blank">Markdown cheatsheet</a></li>
    </ul>
</div>

<!-- Script to make sure the collapsible unfolds with an animation -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px" ;
    } 
  });
}
</script>

