Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Introduktion</a></li>
  <li><a href="{{ '/Generelt' | relative_url }}">Generelt</a></li>
  <li><a href="{{ '/GuideTilHjemmeside' | relative_url }}">Guide til hjemmeside</a></li>
  <li><a href="{{ '/CHRU_CUBE' | relative_url }}">CHRU_CUBE</a></li>
  <li><a href="{{ '/OpdateringAfKube' | relative_url }}">Opdatering af Kube</a></li>
  <li><a href="{{ 'https://github.com/DataOgDigitalisering/FortroligInformation/blob/main/Brugerstyring.md' | relative_url }}">Brugerstyring</a></li>
  <li><a href="{{ '/Personalesammensætning' | relative_url }}">Personalesammensætning</a></li>
  <li><a href="{{ '/Sygefravær' | relative_url }}">Sygefravær</a></li>
  <li><a href="{{ '/Ferieafholdelse' | relative_url }}">Ferieafholdelse</a></li>
  <li><a href="{{ '/Løn' | relative_url }}">Løn</a></li>
  <li><a href="{{ '/Vagtplan' | relative_url }}">Vagtplan</a></li>
  <li><a href="{{ '/Trivsel' | relative_url }}">Trivsel</a></li>
  <li><a href="{{ '/Rekruttering' | relative_url }}">Rekruttering</a></li>
  <li><a href="{{ '/Onboarding' | relative_url }}">Onboarding</a></li>
  <li><a href="{{ '/Fastholdelse' | relative_url }}">Fastholdelse</a></li>
  <li><a href="{{ '/Exitsurvey' | relative_url }}">Exitsurvey</a></li>
  
  
  


  
  
  
</ul>
