Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Introduktion</a></li>
  <li><a href="{{ '/PowerBI' | relative_url }}">Power BI modellering</a></li>
  <li><a href="{{ '/KodeOgMatematik' | relative_url }}">Kode og Matematik</a></li>
  <li><a href="{{ '/OpdateringAfKube' | relative_url }}">Opdatering af Kube</a></li>
  <li><a href="{{ '/GuideTilHjemmeside' | relative_url }}">Guide til hjemmeside</a></li>
  <li><a href="{{ '/CHRU_CUBE' | relative_url }}">CHRU_CUBE</a></li>
  
</ul>
